dj-database-url==0.4.1
ipython-genutils==0.1.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
nb-anacondacloud==1.2.0
nb-conda==2.0.0
nb-conda-kernels==2.0.0
prompt-toolkit==1.0.8
whitenoise==3.2.2
