{% extends 'articles/base.html' %}

{% block content %}
    <div>
        <h1>Press Release URLS</h1>
        {% if articles %}
            {% for article in articles %}
                <p>Article ID #{{ article.pk }}: <a href="{{ article.url }}">{{ article.url }}</a>{% if user.is_authenticated %} <a href="{% url 'articles:press-release-delete' article.pk %}"><span class="glyphicon glyphicon-remove delete-red"></span></a>{% endif %}</p>
                <p>{{ article.p_tag_text }}</p>
                <p>Character count: {{ article.p_tag_text_char_count }}</p>
                <p>Word count: {{ article.p_tag_text_word_count }}</p>
                <p>Sentiment polarity score: {{ article.polarity_score }}</p>
                <hr />
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <p><a href="{% url 'articles:press-release-add' %}"><span class="glyphicon glyphicon-plus"></span> Add Press Release</a></p>
        {% endif %}
    </div>
{% endblock %}